<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GamerHub - Inicio</title>
    <link rel="icon" type="image/svg" href="/images/iconlogo.svg">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/styles/output.css">
  </head>
  <body class="bg-zinc-900">
    
    <!-- w-3/4  -->
    <nav id="navbar" class="backdrop-blur-sm dark:bg-zinc-800 fixed top-0 left-0 right-0 h-[5rem]"></nav>

    <div class="pt-[5rem] h-screen flex justify-center items-center flex-col md:flex-row mx-auto px-4 md:gap-8">
      <img src="/images/logo.svg" alt="GamerHub" class="max-h-60 md:h-72">
      <div class="flex flex-col gap-4 md:text-xl">
        <p class="text-justify text-white font-bold">Conéctate, socializa y descubre. 
          Únete a una comunidad de jugadores apasionados en GamerHub. Encuentra nuevos 
          amigos, comparte experiencias y coordina sesiones de juego. Amplía tu red de 
          jugadores y vive la emoción de la comunidad gamer. Regístrate ahora y forma 
          parte del mundo social de los videojuegos en GamerHub.</p>
        <div class="flex justify-around gap-4">
          <a class="bg-slate-600 py-2 px-4 rounded-lg text-white font-bold text-lg hover:bg-slate-700 w-2/4 text-center transition ease-in-out" href="/login/">Login</a>
          <a class="bg-indigo-700 py-2 px-4 rounded-lg text-white font-bold text-lg hover:bg-indigo-800 w-2/4 text-center transition ease-in-out" href="/signup/">Registro</a>
        </div>

      </div>
    </div>
    
      <div class="flex justify-center items-center">
        <p class="text-justify text-white font-bold text-3xl">¿Que es GamerHub?</p>
      </div>

    <div class="p-4">

      <p class="text-justify text-white">GamerHub es una plataforma innovadora para 
        entusiastas de los videojuegos que buscan conectar y disfrutar de una 
        experiencia de juego enriquecedora. Con GamerHub, puedes conocer personas 
        afines con tus mismos intereses y formar equipos para partidas cooperativas o 
        competitivas.
        <br>
        <br>
        Crea tu perfil de jugador, especifica tus preferencias de juegos y busca 
        compañeros de juego con gustos similares. Chatea, establece amistades virtuales 
        y vive emocionantes aventuras de juego.
        <br>
        <br>
        ¡Únete a la comunidad de GamerHub y amplía tu red de jugadores! Encuentra a 
        alguien con quien jugar y disfruta de experiencias de juego emocionantes.

        </p>
    </div>
    <script type="module" src="components/nav.js"></script>
  </body>
</html>
